
@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

*{

   font-family: 'Kablammo', cursive;
   padding: 0;
   margin: 0;
text-align:center;
}
header {
font-size:39px;
padding:30px;
}

main{
   display:flex;
   flex-direction: column;
   justify-content: center;
padding:160px;
font-size:24px;
}
.menu{
margin:auto;
}
body{
   background-image: url(./img/image018.jpg);
}
.btn{
background-color: rgba(135, 135, 161, 0.444);
color:rgb(251, 251, 251);
margin:30px auto;
padding:8px;
width:250px;
border-radius:10px;
cursor:pointer;
transition: 0.2s;
}

.btn:hover{
scale:1.1;
transition: 0.2s;
}


.game-header{
   display: flex;
   align-items: center;

}
.reset  {
width: 134px;
}
.lvl{
flex-grow: 1;
text-align: left;


}
.null{
padding-top: 0;



}

.game-cards{
display: flex;
flex-wrap: wrap;
gap: 30px;
justify-content: center;


}

.card{
width: 230px;
height: 160px;
border-radius: 20px;
background-size: cover;
background-position:center;

}
.rotate{
   transform: perspective(230px) rotateY(180deg);
   transition: 0.5s;
}